.country {
    border: 2px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.space-y-5 > *:not(:first-child) {
  margin-top: 5px;
}

.cbtn {
    padding: 5px 10px;
    border: none;
    background: #000;
    color: white;
    border-radius: 4px;
}
